/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* Variables for the website */
:root{
    --primary: #7b4b2d;
    --primary-tint: #b08265;
    --primary-shade: #562e15;

    --light: #ffffff;
    --dark: #363029;

    --muted:#dadada;
    --muted-tint:#f4f2f2;
    --muted-shade:#bababa;


    --font-normal:Roboto, Arial, sans-serif;
    --font-heading:"Noto Serif", serif;

    --spacing-0:0; /* 0px */
    --spacing-1:0.5rem; /* 8px */
    --spacing-2:1rem; /* 16px */
    --spacing-3:2rem; /* 32px */

    --shadow-dark: 0 0.1rem 0.2rem 0.1rem rgb(54, 48, 41, 0.2);
    --shadow-light: 0 0.1rem 0.2rem 0.1rem rgb(255, 255, 255, 0.5);


}

/* CSS Reset */
*{
    box-sizing: border-box; /* Will force elements to scale from the border instead */
    margin: 0;
    padding: 0;
}

body{
    font-family:var(--font-normal);
    line-height: 1.5;
}

h1,h2,h3,h4,h5,h6{
    font-family: var(--font-heading);
    margin-bottom: 0.5rem;
}
/***************************** BUTTONS *****************************/
.btn {
    border: none;
    border-radius: var(--spacing-2);
    padding: var(--spacing-1) var(--spacing-2);
    cursor:pointer;
}

.btn-primary{
    background-color: var(--primary);
    color: var(--light);
}

.btn-primary:hover{
    background-color: var(--primary-tint);
}

.btn-primary:active{
    background-color: var(--primary-shade);
}

.btn-secondary{
    background-color: var(--muted);
    color: var(--dark);
}

.btn-secondary:hover{
    background-color: var(--muted-tint);
}

.btn-secondary:active{
    background-color: var(--muted-shade);
}

.link{
    color: var(--primary);
    text-decoration: underline;
}

.link:hover{
    color: var(--primary-tint);
}

.link{
    color: var(--primary-shade);
}

/***************************** COLORS *****************************/
.bg-primary{background-color: var(--primary);}
.bg-light{background-color: var(--light);}
.bg-dark{background-color: var(--dark);}
.bg-muted{background-color: var(--muted)}

.text-primary{color: var(--primary);}
.text-light{color: var(--light);}
.text-dark{color: var(--dark);}
.text-muted{color: var(--muted)}

.shadow-dark {box-shadow: var(--shadow-dark);}
.shadow-light {box-shadow: var(--shadow-light);}

/***************************** COMPONENTS *****************************/
.product-image{
    position: relative; /* Will tell the product to behave */
}

.product-image img{
    aspect-ratio: 16 / 20;
    width: 100%;
    object-fit: cover;

    border: 4px solid var(--light);
    border-radius: var(--spacing-1);

    box-shadow: var(--shadow-dark);
}

.product-image .product-tag{
    background-color: var(--dark);
    color: var(--light);
    box-shadow: var(--shadow-light);

    padding: var(--spacing-1) var(--spacing-2);
    border-radius: var(--spacing-3);

    position: absolute;
    top: var(--spacing-2);
    left: var(--spacing-2);
}

.profile{
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: auto 1fr;

    column-gap: var(--spacing-2);
}

.profile img {
    grid-column: 1;
    grid-row: span 2;

    aspect-ratio: 1 / 1;
    width: 3rem;
    object-fit: cover;
    border-radius: 100%;
}

.profile .name{
    grid-column: 2;
    grid-row: 1;
}

.profile .job-title{
    grid-column: 2;
    grid-row: 2;
}

.tags{
    display: flex;
    gap: var(--spacing-1);
    list-style: none;
}

.tags .tag-item {
    background: var(--primary);
    color: var(--light);
    text-decoration: none;
    
    border-radius: var(--spacing-2);
    padding: var(--spacing-1) var(--spacing-2);
}

.card{
    background-color: var(--primary-tint);
    color: var(--dark);
}
/***************************** LAYOUT *****************************/

.container{
    max-width: 1280px;
    margin: var(--spacing-2) auto var(--spacing-0);
}

.d-flex{display: flex;}

.flex-between{justify-content: space-between;}

.grid-2col{
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Repeat 1fr twice */ 
    gap: var(--spacing-3)
}

.grid-3col{
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--spacing-3)
}

/***************************** SPACING *****************************/
.m-0{ margin:var(--spacing-0); }
.m-1{ margin:var(--spacing-1); }
.m-2{ margin:var(--spacing-2); }
.m-3{ margin:var(--spacing-3); }

.p-0{ padding:var(--spacing-0); }
.p-1{ padding:var(--spacing-1); }
.p-2{ padding:var(--spacing-2); }
.p-3{ padding:var(--spacing-3); }

.gap-0{ gap:var(--spacing-0); }
.gap-1{ gap:var(--spacing-1); }
.gap-2{ gap:var(--spacing-2); }
.gap-3{ gap:var(--spacing-3); }

/***************************** SWATCHES *****************************/
.swatches{
    display: flex; /*Organizes children elements on a line*/
    
}

.swatch .swatch-value{
    aspect-ratio: 1 / 1;
    width: 4rem; /* em = Root font size (16px)*/
    border-radius: 100%;
    box-shadow: var(--shadow-dark);
}

.swatch .swatch-name{
    text-align: center;
}

/***************************** TEXT *****************************/
.line-1{ 
    display: -webkit-box; /* Chrome based browsers*/
    display: -moz-box; /* Firefox based*/
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    line-clamp: 1;

    height: 1.5em;
    overflow: clip;
    text-overflow: ellipsis;
}

.line-2{ 
    display: -webkit-box; /* Chrome based browsers*/
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    line-clamp: 2;

    height: 3em;
    overflow: clip;
    text-overflow: ellipsis;
}